<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoXbEGOacK2tVm6_xMg6hM2UjuVKY3dlY</string>
	<key>GCM_SENDER_ID</key>
	<string>2651883710</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aegislink.app</string>
	<key>PROJECT_ID</key>
	<string>aegislink-1625a</string>
	<key>STORAGE_BUCKET</key>
	<string>aegislink-1625a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:2651883710:ios:032e991ae575ea2cddb6ef</string>
</dict>
</plist>